<a href="https://colab.research.google.com/github/LailaBulh/Ingenieria_de_Datos_Avanzada/blob/main/Practica_SQL_Fintech_Vacio_DML_LailaBulhosen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# üìò Pr√°ctica SQL ‚Äì Fintech Databank

**Nombre:** Laila Montserrat Bulhosen Ramos

**Matricula:** 263166

**Link Github:**[Pr√°ctica_SQL‚ÄìFintech_Databank](https://)


Este notebook contiene los **ejercicios pr√°cticos** sobre la base de datos `fintech_databank.db`.  
Tu objetivo ser√° escribir consultas SQL para resolver cada problema.

üëâ **Recuerda:** conecta la base de datos antes de empezar:
```python
%sql sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
```

In [1]:
# Montar el drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive


## üîπ Instrucciones generales
1. Con√©ctate a la base de datos.  
2. Antes de cada ejercicio, revisa las tablas disponibles con:
   ```sql
   %%sql
   SELECT name FROM sqlite_master WHERE type='table';
   ```
3. Ejecuta tus consultas SQL en las celdas de c√≥digo marcadas como `%%sql`.  
4. Guarda tus respuestas en este notebook.

## **Instalaci√≥n de bibliotecas externas**

In [2]:
# Comando para instalar una biblioteca externa
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)

In [3]:
# Ejecuta esta l√≠nea de c√≥digo y se empezar√° a instalar
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)

In [4]:
# Instrucci√≥n para instalar ipyhon-sql
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.6/1.6 MB 20.0 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [5]:
# Instrucci√≥n para instalar ipyhon-sql
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [6]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

## **Carga y conexi√≥n de la base de datos**

In [7]:
# %load_ext nombre_extension
%load_ext sql

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Conectar Colab con archivo de la base de datos
%sql sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db

## **Ejercicio 1. Exploraci√≥n b√°sica**


- Lista todas las filas de la tabla **clientes**.  
- Muestra √∫nicamente el nombre y la ciudad de cada cliente.  
- ¬øCu√°ntos clientes hay en total?

In [17]:
### Revisar tablas disponibles
%%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('clientes',), ('cuentas',), ('transacciones',), ('tipos_cambio',)]

In [28]:
### Filas totales de tabla clientes
%%sql SELECT * FROM clientes;

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('C001', 'Ana Torres', 'CDMX', 'Retail'),
 ('C002', 'Luis G√≥mez', 'Guadalajara', 'Retail'),
 ('C003', 'Textiles J&R', 'Monterrey', 'PYME')]

In [29]:
### Nombre y ciudad de cada cliente
%%sql SELECT nombre ,ciudad FROM clientes;

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('Ana Torres', 'CDMX'),
 ('Luis G√≥mez', 'Guadalajara'),
 ('Textiles J&R', 'Monterrey')]

In [33]:
%%sql SELECT COUNT(DISTINCT nombre) AS total_clients FROM clientes;

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[(3,)]

## **Ejercicio 2. Cuentas de clientes**


- Obt√©n todas las cuentas del cliente **C001**.  
- Lista las cuentas que est√°n en moneda **USD**.  
- Muestra el n√∫mero de cuentas que tiene cada cliente (usa `GROUP BY`).

In [41]:
### Cuentas del cliente C001
%%sql SELECT * FROM cuentas WHERE cliente_id = 'C001';

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('A1001', 'C001', 'MXN', 'Vista', '2024-11-10'),
 ('A1002', 'C001', 'USD', 'Ahorro', '2024-12-01')]

In [43]:
### Cuentas en USD
%%sql SELECT * FROM cuentas WHERE moneda = 'USD';

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('A1002', 'C001', 'USD', 'Ahorro', '2024-12-01')]

In [46]:
### Cuentas por cliente
%%sql SELECT cliente_id ,COUNT(cuenta_id) cuentas_cliente FROM cuentas GROUP BY cliente_id;

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('C001', 2), ('C002', 1), ('C003', 1)]

## **Ejercicio 3. Transacciones**


- Obt√©n todas las transacciones de la cuenta **A1001**.  
- Calcula el **saldo neto** de esa cuenta sumando la columna `monto`.  
- Lista las transacciones que sean **comisiones**.

In [49]:
### Transacciones de la cuednta A1001
%%sql SELECT cuenta_id ,COUNT(tx_id) AS transactions FROM transacciones WHERE cuenta_id = 'A1001';

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('A1001', 4)]

In [52]:
### Saldo neto de cuenta A1001
%%sql SELECT cuenta_id ,SUM(monto) AS saldo_neto FROM transacciones WHERE cuenta_id = 'A1001'

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('A1001', 10765)]

In [55]:
###Transacciones tipo Comisi√≥n
%%sql SELECT * FROM transacciones WHERE categoria = 'Comisi√≥n'

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('T0006', 'A2001', '2025-07-04', 'Comisi√≥n manejo', -45, 'Comisi√≥n'),
 ('T0009', 'A1001', '2025-07-15', 'Comisi√≥n retiro', -35, 'Comisi√≥n')]

## **Ejercicio 4. Reportes con agrupaciones**


- Calcula el total de transacciones (suma de `monto`) por **categor√≠a**.

In [58]:
### Total de monto por categoria
%%sql SELECT categoria ,SUM(monto) AS monto FROM transacciones GROUP BY categoria;

 * sqlite:////content/drive/MyDrive/ClassFilesIDA/fintech_databank.db
   sqlite:////content/drive/MyDrive/ClassFilesIDA/pixar_movies.db
Done.

[('Comisi√≥n', -80),
 ('Dep√≥sito', 25800),
 ('Inter√©s', 123.5),
 ('Pago', -82200),
 ('Transferencia', 95000)]


## Ejercicio 5. **Modificar datos (UPDATE)**

> **Objetivo:** actualizar valores existentes usando `WHERE` de forma segura.

1. Cambia el `segmento` del cliente **C002** de *Retail* a **PYME**.  
2. Corrige la `ciudad` de **Textiles J&R (C003)** a **Saltillo**.  


> **Tip:** siempre valida primero con un `SELECT` y despu√©s aplica el `UPDATE`.

In [ ]:

%%sql
-- UPDATE: agrega aqu√≠ tus sentencias


## Ejercicio 6. **Borrar datos (DELETE)**

> **Objetivo:** eliminar filas espec√≠ficas manteniendo la integridad y usando `WHERE`.

1. Elimina **solo** las transacciones de la cuenta **A3001** del d√≠a **2025-07-12**.  
2. Elimina la **comisi√≥n** de `A2001` del **2025-07-04**.  
> **Tip:** prueba primero con `SELECT` para verificar el subconjunto a borrar.